/*******************************
    ER Developer Toolbar CSS
 ******************************/
#er_developer_toolbar{position:fixed;display:block;z-index:9999999999;font:12px Arial,sans-serif;background:#d8dbe5;color:#000;}
#er_developer_toolbar a,#er_developer_toolbar a:visited{display:block;color:#0f2f5b;text-decoration:none;}
#er_developer_toolbar a:hover{text-decoration:underline;}
#er_developer_toolbar a:active{outline:none;}
#er_developer_toolbar a:focus{-moz-outline-style:none;}
#er_developer_toolbar p.toolbar_heading{display:block;text-indent:-999999px;}
#er_developer_toolbar p,#er_developer_toolbar a,#er_developer_toolbar ul,#er_developer_toolbar li{margin:0px;padding:0px;}
#er_developer_toolbar ul{list-style:none;}
#er_developer_toolbar > ul > li{line-height:24px;position:relative;}
#er_developer_toolbar .icon{display:block;width:24px;height:24px;text-indent:-999999px;background-image:url(sprite.png);}
#er_developer_toolbar a#home{background-position:0px 0px;}
#er_developer_toolbar a#account{background-position:-24px 0px;}
#er_developer_toolbar a#logout{background-position:-48px 0px;}
#er_developer_toolbar a#statuses{background-position:-72px 0px;}
#er_developer_toolbar a#templates{background-position:-168px 0px;}
#er_developer_toolbar a#temp_debug{background-position:-192px 0px;}
#er_developer_toolbar a#cache{background-position:-216px 0px;}
#er_developer_toolbar a#addons{background-position:-240px 0px;}
#er_developer_toolbar a#sql{background-position:-264px 0px;}
#er_developer_toolbar a#edit{background-position:-312px 0px;}
#er_developer_toolbar a#utility{background-position:-336px 0px;}
#er_developer_toolbar #move{float:left;background-position:-290px 0px;cursor:move;}
#er_developer_toolbar .status_on a,#er_developer_toolbar .status_off a,#er_developer_toolbar .status_on2 a{padding-left:16px;background-image:url(sprite.png);background-repeat:no-repeat;}
#er_developer_toolbar .status_on a{background-position:-8px -49px;}
#er_developer_toolbar .status_on2 a{background-position:-8px -73px;}
#er_developer_toolbar .status_off a{background-position:-8px -97px;}
#er_developer_toolbar a.entry,#er_developer_toolbar a.template{padding-left:24px;background-image:url(sprite.png);background-repeat:no-repeat;}
#er_developer_toolbar a.template{background-position:-340px -25px;}
#er_developer_toolbar a.entry{background-position:-340px -97px;}
#er_developer_toolbar ul > li > div.sub{display:none;}
#er_developer_toolbar ul > li:hover div.sub{display:block;position:absolute;width:250px;}
#er_developer_toolbar ul > li:hover div.sub strong{border-bottom:1px solid #888;display:block;margin-bottom:8px;}
#er_developer_toolbar ul > li:hover div.sub ul{background:#d8dbe5;border:1px solid #434343;padding:8px 24px 8px 14px;-moz-border-radius:5px;-webkit-border-radius:5px;}
#er_developer_toolbar ul > li > ul li{float:none;}
#er_developer_toolbar ul#toolbar_calc{list-style:none;font-size:11px;}
/*******************************
Top Aligned
******************************/
#er_developer_toolbar.top{top:0px;border:1px solid #434343;border-top:none;-moz-border-radius-bottomleft:5px;-moz-border-radius-bottomright:5px;-webkit-border-bottom-left-radius:5px;-webkit-border-bottom-right-radius:5px;}
#er_developer_toolbar.top ul > li:hover div.sub{top:21px;left:-10px;padding-top:12px;}
#er_developer_toolbar.top span.arrow{display:block;width:17px;height:10px;background:url(sprite.png) -128px -30px no-repeat;position:absolute;top:4px;left:15px;}
/*******************************
Bottom Aligned
******************************/
#er_developer_toolbar.bot{bottom:0px;border:1px solid #434343;border-bottom:none;-moz-border-radius-topleft:5px;-moz-border-radius-topright:5px;-webkit-border-top-left-radius:5px;-webkit-border-top-right-radius:5px;}
#er_developer_toolbar.bot ul > li:hover div.sub{bottom:21px;left:-10px;padding-bottom:12px;}
#er_developer_toolbar.bot span.arrow{display:block;width:17px;height:10px;background:url(sprite.png) -107px -31px no-repeat;position:absolute;bottom:4px;left:15px;}
/*******************************
Horizontal (top and bottom)
******************************/
#er_developer_toolbar.hor{width:90%;left:4%;padding:5px 1% 5px;}
#er_developer_toolbar.hor p.toolbar_heading{float:left;width:101px;height:24px;background:url(sprite.png) 0px -24px no-repeat;}
#er_developer_toolbar.hor ul{float:left;}
#er_developer_toolbar.hor > ul > li{float:left;}
#er_developer_toolbar.hor .divider{display:block;float:left;width:4px;height:24px;margin:0 10px;background:url(sprite.png) -100px -24px no-repeat;}
#er_developer_toolbar.hor ul#toolbar_member_data li{float:left;margin-right:20px;}
#er_developer_toolbar.hor ul#toolbar_calc{float:right;}
#er_developer_toolbar.hor ul#toolbar_calc li{float:left;margin-left:20px;}
#er_developer_toolbar.hor ul#clock{float:right;}
#er_developer_toolbar.hor ul#clock > li:hover div.sub{left:-87px;text-align:right;}
#er_developer_toolbar.hor ul#clock span.arrow{left:91px;}
/*******************************
Left Aligned
******************************/
#er_developer_toolbar.left{left:0px;border:1px solid #434343;border-left:none;-moz-border-radius-topright:5px;-moz-border-radius-bottomright:5px;-webkit-border-top-right-radius:5px;-webkit-border-bottom-right-radius:5px;}
#er_developer_toolbar.left ul > li:hover div.sub{left:21px;top:-10px;padding-left:14px;}
#er_developer_toolbar.left span.arrow{display:block;width:10px;height:17px;background:url(sprite.png) -173px -27px no-repeat;position:absolute;left:6px;top:15px;}
/*******************************
Right Aligned
*******************************/
#er_developer_toolbar.right{right:0px;border:1px solid #434343;border-right:none;-moz-border-radius-topleft:5px;-moz-border-radius-bottomleft:5px;-webkit-border-top-left-radius:5px;-webkit-border-bottom-left-radius:5px;}
#er_developer_toolbar.right ul > li:hover div.sub{right:21px;top:-10px;padding-right:14px;}
#er_developer_toolbar.right span.arrow{display:block;width:10px;height:17px;background:url(sprite.png) -152px -27px no-repeat;position:absolute;right:6px;top:15px;}
/*******************************
Vertical (left and right)
******************************/
#er_developer_toolbar.vert{height:90%;top:3%;padding:1% 3px 1% 5px;}
#er_developer_toolbar.vert p.toolbar_heading{width:27px;height:9px;background:url(sprite.png) -233px -31px no-repeat;}
#er_developer_toolbar.vert > ul > li div.sub{width:200px;}
#er_developer_toolbar.vert .divider{display:block;width:24px;height:4px;margin:10px 0;background:url(sprite.png) -194px -35px no-repeat;}
